
@using BaselineSolution.WebApp.Components.HtmlHelpers.Forms
@using BaselineSolution.WebApp.Resources
@model BaselineSolution.WebApp.Areas.Home.ViewModels.Authentication.LoginViewModel
@section styles
{
    <link href="~/Areas/Home/Styles/Authentication/Login.css" type="text/css" rel="stylesheet"/>
}


<div id="loginform">
    <form class="form-horizontal" method="post">
        <div class="form-title">
            <h1>@WebApp.Login_Title</h1>
        </div>
        @Html.FormElementFor(x=> x.UserName, prefixClass: "fa fa-user")
        @Html.FormElementFor(x=> x.Password, Html.PasswordFor(x=> x.Password, new {@class= "form-control"}), prefixClass: "fa fa-lock" )
        <div class="">
            @Html.ErrorSummary("")
        </div>
        <div>
            <input type="submit" class="btn btn-default pull-right" value="@WebApp.Login"/>

        </div>
    </form>
</div>

