@model BaselineSolution.WebApp.Areas.Setup.ViewModels.SystemLanguage.DeleteViewModel
    
<form class="form-horizontal" method="POST" action="@Url.Action("Delete", "Account")">
    <div class="modal-header">
        <h3 class="modal-title">@WebApp.Title_SystemLanguage</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    <div class="modal-body">
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@WebApp.Warning</strong> @WebApp.DeleteConfirmation
        </div>

        @Html.HiddenFor(model => model.SystemLanguage.Id)

        <dl class="">
            <dt>@Html.DisplayNameFor(x => x.SystemLanguage.Label)</dt>
            <dd>@Html.DisplayFor(x => x.SystemLanguage.Label)</dd>
        </dl>
        <dl>
            <dt>@Html.DisplayNameFor(x => x.SystemLanguage.Culture)</dt>
            <dd>@Html.DisplayFor(x => x.SystemLanguage.Culture)</dd>
        </dl>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-danger">@WebApp.Form_Delete</button>
    </div>

</form>