@using BaselineSolution.WebApp.Components.HtmlHelpers.Forms
@model BaselineSolution.WebApp.Areas.Security.ViewModels.User.ResetPasswordViewModel


<div class="row">
    <div class="col-sm-12">
        <h1>
            @WebApp.ResetPassword
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form method="post">
            @Html.HiddenFor(x=> x.Password.Id)
            @Html.FormElementFor(x=> x.Password.Password)
            @Html.FormElementFor(x=> x.Password.PasswordConfirm)
            
            @Html.SubmitAndCancel(WebApp.Form_Save, WebApp.Form_Cancel, Url.Action("Index", "User"))
        </form>
    </div>
</div>
