@using BaselineSolution.WebApp.Components.HtmlHelpers.Links
@using BaselineSolution.WebApp.Resources


<div class="row">
    <div class="col-sm-12">
        <h1>@WebApp.WebApp_BaseTitle</h1>
    </div>
</div>



<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h5>@SecurityResource.Module_Title</h5>
            </div>
            <ul class="list-group list-group-flush">
                @Html.Link("index", "Account", new { Area = "Security" }).SurroundedBy("li", new { @class="list-group-item"}).ToHtml(SecurityResource.Title_Accounts)
                @Html.Link("index", "Right", new { Area = "Security" }).SurroundedBy("li", new { @class = "list-group-item" }).ToHtml(SecurityResource.Title_Rights)
                @Html.Link("index", "Role", new { Area = "Security" }).SurroundedBy("li", new { @class = "list-group-item" }).ToHtml(SecurityResource.Title_Roles)
                @Html.Link("index", "User", new { Area = "Security" }).SurroundedBy("li", new { @class = "list-group-item" }).ToHtml(SecurityResource.Title_Users)

            </ul>
        </div>
        
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h5>@SetupResource.Module_Title</h5>
            </div>
            <ul  class="list-group list-group-flush">
                @Html.Link("Index", "SystemLanguage", new {Area = "Setup"}).SurroundedBy("li", new { @class = "list-group-item"}).ToHtml(SetupResource.Title_SystemLanguages)
            </ul>
        </div>
        
    </div>
</div>



