@using BaselineSolution.WebApp.Resources
<html>
<head>
    <title>
        @WebApp.WebApp_BaseTitle

        @if (ViewBag.Title != null)
        {
            <text> | @ViewBag.Title </text>
        }

    </title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />

    @RenderSection("styles", false)

</head>
<body>
    <div class="container">
        @RenderBody()

    </div>
    @RenderSection("scripts", false)
</body>
</html>
