@using BaselineSolution.WebApp.Resources
<html>
<head>
    <title>
        @WebApp.WebApp_BaseTitle

        @if (ViewBag.Title != null)
        {
            <text> | @ViewBag.Title </text>
        }

    </title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/Content/css/select2.min.css" />

    @RenderSection("styles", false)

</head>
<body>
    <div class="container">


        @RenderBody()

        @{ Html.RenderPartial("_Alerts");}
    </div>


<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/underscore.min.js"></script>
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<script type="text/javascript" src="~/Scripts/Datatables/datatables.min.js"></script>


<!-- Custom scripting  -->
<script type="text/javascript" src="~/Scripts/Shared/Functions.js"></script>
<script type="text/javascript" src="~/Scripts/Shared/Conventions.js"></script>
<script type="text/javascript" src="~/Scripts/Shared/Plugins.js"></script>
<script type="text/javascript" src="~/Scripts/Shared/Defaults.js"></script>

@RenderSection("scripts", false)

</body>
</html>
